.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}


:root  {
  --SwitchWindowSize:900px;
  --menuMarginTop: 150px;
  --menuMarginLeft: -80px;
  --ContentWidth: 1240px;
  --SubMenuWidth:396px;
  --SubMenuHeight:30px;
  --SubMenuItemWidth: 130px;
  --SubMenuItemMargin:0px;
}

@media screen and (max-width:900px) { 
  :root  {
    --SubMenuWidth:40px;
    --SubMenuHeight:70px;
    --SubMenuItemWidth: 130px;
    --SubMenuItemMargin:20px;
  }
}


.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: 20px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width:900px) { 
  .nav{
    display: block;
  }
  header ul li {
    height: 30px;
  }
}

.dropdown-menu .active .bi {
  display: block !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(180,180,180);
    color: white;
} 
.footer_color {
    color: white;
}

header {
  background-image: url('../Images/Header_Nail.JPG');
  height: 300px;
  background-position:center;
  background-repeat: no-repeat; 
  background-color:maroon;
}

header div {
  margin-left: 10px;    
  margin-top: 10px;
}

@media screen and (max-width:900px) {
  :root  {
    --menuMarginTop: 20px;
  }

  /* vertical menu: big heigh */ 
  header ul li {
    height: 50px;
  }
}
#MainMenu {
  margin-top: var(--menuMarginTop);
  margin-left: var(--menuMarginLeft);
}

#RightMenu {
  margin-right: 1.0em;
  margin-top: var(--menuMarginTop);
  margin-left: 20px;
}

.iconhover:hover {
  opacity: 70%;
}

.menu_text{
    font-size:x-large;
    color:bisque;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(135, 59, 72);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(135, 59, 72);
  }
  .menu_text:hover {
    color:coral;
  }

body {
  max-width: var(--ContentWidth);
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/***************** Section Untermenü *************************************/
.dropdown {
  overflow:visible;
  width: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;
  min-width: var(--SubMenuWidth);                                         /* total width of sub-menu  */
  
  min-height: var(--SubMenuHeight);                                       /* total height of sub-menu */
  z-index: 1;
  margin-top: 0px;
  margin-left: 20px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0px 15px;
  width: auto;
}

@media screen and (max-width:900px) { 
  .dropdown .dropbtn {
    width: 200px;
  }
}

.dropdown-content a {
  float: left;
  overflow: hidden;
  color: white;                             /* Text color of sub-menu */
  text-decoration: none;
  display: block;                             /* sub-menu Items: vertical asign */
}

.SubMenuItem {
  min-width: var(--SubMenuItemWidth);
  text-align: center;
  margin-left: 2px;
  margin-bottom: 2px;
  background-color: rgb(220,180,180);        /* opacity of sub-menu      */
  border-left: 1px solid rgb(224, 212, 212);
  border-top: 1px solid rgb(224, 212, 212);
  border-right: 1px solid rgb(109, 57, 57);
  border-bottom: 1px solid rgb(109, 57, 57);
}

@media screen and (max-width:900px) { 
  .SubMenuItem {
    margin-left: 20px;                          /* margin left of Sub-menu Items for vertical assign*/
  }
}
.dropdown-content a:hover {
  background-color: rgb(232, 133, 133);;
}

.dropdown:hover .dropdown-content {
  display: block;
}

